<div id="detailpanier">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Commerce</th>
            <th>Produits</th>
            <th>Total</th>
        </tr>
        </thead>
        {% set total = 0 %}
        {% set fraisTransaction = 0 %}
        {% for commande in commandes %}
            {% set total = total + commande.cout.totalTvac %}
            {% set fraisTransaction = fraisTransaction + commande.cout.fraisTransaction %}
            <tr>
                <td>
                    <a href="{{ path('acecommerce_commerce_show', { 'id': commande.commerce.id }) }}">
                        {{ commande.commerce }}
                    </a>
                </td>
                <td>
                    <table>
                        {% for commandeProduit in commande.commandeProduits %}
                            <tr>
                                <td>
                                    <a href="{{ path('acecommerce_produit_show', {'id': commandeProduit.produit.id}) }}">
                                        {{ commandeProduit.produit }}
                                    </a>
                                </td>
                                <td>
                                    <input type="number" name="quantite" class="ajaxjf" onchange="update($(this))"
                                           data-id="{{ commandeProduit.id }}" value="{{ commandeProduit.quantite }}"
                                           min="1" title="Quantité">
                                </td>
                                <td>
                                    {% include 'produit/_prix.html.twig' with {'produit': commandeProduit.produit} %}
                                </td>
                                <td>
                                    <a title="Ajouter un commentaire" role="button" class="far fa-comment"
                                            data-toggle="modal"
                                            data-produitnom="{{ commandeProduit.produit.nom }}"
                                            data-cmdproduitid="{{ commandeProduit.id }}"
                                            data-commentaire="{{ commandeProduit.commentaire }}"
                                            data-target="#commentaireProduitModal">
                                    </a>
                                     /
                                    <a title="Retirer du panier" role="button" class="far fa-trash-alt"
                                            data-toggle="modal"
                                            data-produitnom="{{ commandeProduit.produit.nom }}"
                                            data-cmdproduitid="{{ commandeProduit.id }}"
                                            data-target="#commandeProduitModal">
                                    </a>
                                </td>
                            </tr>
                            {% include 'panier/_attributs.html.twig' %}
                        {% endfor %}
                    </table>
                </td>
                <td> </td>
            </tr>
            {% include 'panier/_total.html.twig' %}
        {% endfor %}
        <tr>
            <td><strong>Frais de transport et stripe</strong></td>
            <td> </td>
            <td>
                {{ fraisTransaction | prixNice }}
            </td>
        </tr>
        <tr>
            <td><strong>Total a payer</strong></td>
            <td> </td>
            <td>{{ (total + fraisTransaction) | prixNice }}</td>
        </tr>
    </table>
</div>