{% extends 'admin/layout.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

    <h3>{{ listingAttributs }}</h3>

    {{ form_start(form_listing) }}
    {{ form_row(form_listing.nom) }}

    <h5>Attributs</h5>

    <ul class="list-group"
        data-prototype="{{ form_widget(form_listing.attributs.vars.prototype)|e('html_attr') }}">
        {% for attribut in form_listing.attributs %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        {{ form_row(attribut.nom) }}
                    </div>
                    <div class="col">
                        {{ form_row(attribut.prix.htva) }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <button type="submit" class="btn btn-primary mt-4">Mettre à jour</button>
    {{ form_end(form_listing) }}
    <br/><br/>

    <span class="glyphicon glyphicon-arrow-left"></span>
    <a href="{{ path('acecommerce_admin_listing') }}">Annuler</a>

{% endblock %}
{% block scripts %}
   {% include 'admin/listing/_javascripts.html.twig' %}
{% endblock %}