<li class="nav-item{% if action == 'acecommerce_produit_index' %} active{% endif %}">
    <a class="nav-link" href="{{ path('acecommerce_produit_index') }}">Rechercher</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if action == 'acecommerce_categorie_index' %} active{% endif %}"
       href="{{ path('acecommerce_categorie_index') }}">Catégories</a>
</li>
<li class="nav-item">
    <a class="nav-link{% if action == 'acecommerce_commerce_index' %} active{% endif %}"
       href="{{ path('acecommerce_commerce_index') }}">Commerçants</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ path('acecommerce_contact') }}">
        <i class="fa fa-envelope"></i> Contact</a>
</li>
{% if app.user %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('acecommerce_panier') }}">
            <i class="fas fa-shopping-basket"></i> Panier</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#!" id="dropdown05" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> {{ app.user.prenom }}</a>
        <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" href="{{ path('acecommerce_utilisateur_show') }}">Mon compte</a>
            {% if is_granted('ROLE_ECOMMERCE_ADMIN') or is_granted('ROLE_ECOMMERCE_COMMERCE') or is_granted('ROLE_ECOMMERCE_LOGISTICIEN') %}
                <a class="dropdown-item" href="{{ path('acecommerce_admin_home') }}">Administration</a>
            {% endif %}
            <a class="dropdown-item" href="{{ path('logout') }}">Se déconnecter</a>
        </div>
    </li>
{% else %}
    <li class="nav-item" title="S'enregistrer">
        <a class="nav-link" href="{{ path('acecommerce_register') }}"><i class="fas fa-user-plus"></i></a>
    </li>
    <li class="nav-item" title="Se connecter">
        <a class="nav-link" href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i></a>
    </li>
{% endif %}