<div class="card">
    <div class="card-header">Envoyer un message</div>
    <div class="card-body">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="col">
                {{ form_row(form.nom) }}
            </div>
            <div class="col">
                {{ form_row(form.email) }}
            </div>
        </div>
        {{ form_row(form.commentaire) }}
        {{ form_end(form) }}
    </div>
</div>
