<h4 class="text-info">Dimensions</h4>
<hr />
<div class="form-row">
    <div class="col">
        {{ form_row(form.dimension.hauteur) }}
    </div>
    <div class="col">
        {{ form_row(form.dimension.largeur) }}
    </div>
    <div class="col">
        {{ form_row(form.dimension.longueur) }}
    </div>
    <div class="col">
        {{ form_row(form.dimension.poids) }}
    </div>
    <div class="col">
        {{ form_row(form.dimension.poidsUnite) }}
    </div>
    <div class="col">
        {{ form_row(form.dimension.remarque) }}
    </div>
</div>
