<div class="card mb-3">
    {% if produit.firstImage %}
        <a href="{{ path('acecommerce_produit_show', { 'id': produit.id }) }}">
            <img class="card-img-top img-fluid" src="{{ resolveImageProduit( produit, produit.firstImage) | imagine_filter('acecommerce_291_200') }}"
                 alt="Product">
        </a>
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('acecommerce_produit_show', { 'id': produit.id }) }}">
                {{ produit }}
            </a>
        </h5>
        <p class="text-right">
            <a href="{{ path('acecommerce_produit_show', { 'id': produit.id }) }}"
               class="text-muted">{{ produit.commerce }}</a>
        </p>

        {% if produit.isOutOfStock %}
            <p>Plus de stock</p>
        {% endif %}

        <p class="card-text">{{ produit.description }}</p>

        {% include 'produit/_ingredients.html.twig' %}
    </div>
    <div class="card-footer text-muted">
        <strong>
            {% include 'produit/_prix.html.twig' with {'produit': produit} %}
        </strong>
        <span class="float-right">
            <a href="{{ path('acecommerce_produit_show', { 'id': produit.id }) }}" title="Ajouter au panier">
                    <i class="fa fa-shopping-cart grey-text"></i>
            </a>
        </span>
    </div>
</div>
