{{ form_start(form) }}

<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.nom) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.imageFile) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.bottinId) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.indisponible) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.sms_numero) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.emailCommande) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.iban) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.numeroTva) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.tvaApplicable) }}
    </div>
</div>
{{ form_end(form) }}