{% set action = app.request.attributes.get("_route") %}

<li class="nav-item">
    <a class="nav-link" href="{{ path('acecommerce_admin_commerce_index') }}"> Les Commerces
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Les commandes</a>
    <div class="dropdown-menu" aria-labelledby="dropdown07">
        <a class="dropdown-item" href="{{ path('acecommerce_admin_commande_index') }}">A livrer</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_commande_livre') }}">Livrées</a>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ path('acecommerce_admin_produit_index') }}">
        <span class="glyphicon glyphicon-search"></span> Les produits
    </a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ path('acecommerce_admin_charges_index') }}">
        <span class="glyphicon glyphicon-search"></span> Les paiements
    </a>
</li>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">Paramètres</a>
    <div class="dropdown-menu" aria-labelledby="dropdown07">
        <a class="dropdown-item" href="{{ path('acecommerce_admin_params_index') }}">Paramètres généraux</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_categorie_index') }}">Les catégories</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_lieulivraison_index') }}">Les lieux de livraisons</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_produit_index') }}">Tous les produits</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_ingredient_index') }}">Tous les ingrédients</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_supplement_index') }}">Tous les suppléments</a>
        <a class="dropdown-item" href="{{ path('acecommerce_admin_listing') }}">Tous les listings</a>
        {#   <a class="dropdown-item" href="{{ path('acsecurity_user_index') }}">Gestion des utilisateurs</a> #}
    </div>
</li>

